/* Start Reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    cursor: pointer;
}
  
a {
    cursor: pointer;
}
/* End Reset */

/* Start Fonts */
@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ArialMT";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/arialmt.ttf") format("truetype");
}

@font-face {
    font-family: "Asap-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Asap-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "SegoeWP";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/SegoeWP.ttf") format("truetype");
}
  
@font-face {
    font-family: "SegoeWP-Light";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/segoe-wp-light.ttf") format("truetype");
}
  
@font-face {
    font-family: "SegoeUI-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Segoe\ UI\ Bold.woff") format("woff");
}
  
@font-face {
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Segoe\ UI.woff") format("woff");
}
  
@font-face {
    font-family: "SegoeUI-Light";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/segoeuil.ttf") format("truetype");
}
  
@font-face {
    font-family: "LucidaSans-Italic";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Lucida\ Sans\ Italic.ttf") format("truetype");
}
  
@font-face {
    font-family: "PTSans-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/PTSans-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "PTSans-NarrowBold";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/PTSansNarrow-Bold.ttf") format("truetype");
}
/* End Fonts */

body {
    margin: 0;
}

/* Start Header */
.header-bg {
    background-image: url(assets/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}
  
.logo,
.back-logo {
    height: calc(1.875rem + ((1vw - 3.6px) * 5.7447));
}
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.9rem 0 3.2rem 0;
}
  
.h-logo,
.f-logo {
    display: flex;
    color: white;
    align-items: center;
}
  
.h-logo h1 {
    font-size: calc(1rem + ((1vw - 3.6px) * 2.6596));
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    font-family: "LucidaSans-Italic";
    text-transform: uppercase;
}
  
.back-logo {
    transform: rotateZ(45deg);
    position: absolute;
    left: 0;
    opacity: 0.5;
}
  
.logo-position {
    position: relative;
}
  
nav {
    display: flex;
    background-color: #f5c506;
    align-items: center;
    box-shadow: -4px -4px 0px 0px #f5c50645, -8px -8px 0px 0px #f5c50645;
    align-self: flex-end;
    flex: 0 0 454px;
}
  
.nav-icon {
    padding-right: 0.5rem;
}
  
.nav-button {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #9b7d08;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    padding: 11px 0;
    height: 100%;
    font-size: calc(0.7rem + ((1vw - 3.6px) * 0.5));
    font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
}
  
.nav-button:last-of-type {
    border: none;
}
  
.nav-button:hover {
    background-color: #f7d037;
}
  
.nav-button:first-of-type {
    padding-left: 1.2rem;
}
/* End Header */

/* Start Header Content */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.8rem;
}
  
.header-content-text {
    font-size: 63px;
    text-transform: uppercase;
    font-family: "Asap-Regular";
    color: #f5c506;
    font-weight: normal;
    text-align: center;
    opacity: 0.8;
}
  
#white-color {
    color: white;
}
  
.video-player {
    background: url(assets/video-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 328px;
    width: 550px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 4em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}
  
.player {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.bttn-round {
    width: 68px;
    height: 68px;
    background-color: rgba(245, 197, 6, 0.72);
    border-radius: 50%;
    border: none;
    align-self: center;
    margin-bottom: 6.2em;
    padding: 3px 0 0 5px;
}
  
.bttn-rectangle {
    height: 28px;
    width: 28px;
    background-color: rgba(245, 197, 6, 1);
    border: none;
    opacity: 0.37;
    padding: 3px 0 0 0;
}
  
.bttn-round:hover {
    background-color: #f5c506;
}
  
.bttn-rectangle:hover {
    opacity: 1;
}
  
.video-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}
  
.playtime {
    position: relative;
    background-color: rgba(245, 197, 6, 0.28);
    width: 70%;
    height: 12px;
    border-radius: 10px;
    cursor: pointer;
}
  
.playtime:hover {
    background-color: rgba(245, 197, 6, 0.5);
}
  
.playtime-after {
    position: absolute;
    background-color: rgba(245, 197, 6);
    width: 45%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
  
.speaker:hover {
    opacity: 0.8;
}

.lr-bttn {
    background-color: #f5c506;
    border: none;
    padding: 1.3rem 0.6rem;
}
  
.lr-bttn:first-of-type {
    background-color: rgb(245, 197, 6, 0.7);
}
  
.lr-bttn:hover {
    background-color: #f9dc69;
}
/* End Header Content */

/* Start Short Information Section */
.short-info-section {
    background: url(assets/short-section-background.png);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25),
      0px -5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: relative;
}
  
.short-info-section-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 213px;
}
  
.short-info-section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
    text-transform: uppercase;
    border-left: 1px solid rgb(0, 0, 0, 0.14);
    flex: 0 1 340px;
    font-size: calc(1.375rem + ((1vw - 3.6px) * 0.5319));
    font-weight: normal;
    font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular;
}
  
.short-info-section-box h3 {
    padding-top: 0.5rem;
    text-align: center;
}
  
.short-info-section-container > *:last-of-type {
    border-right: 1px solid rgb(0, 0, 0, 0.14);
}
/* End Short Information Section */